*{
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root {
    --Azul-escuro: #007acc;
    --branco: #fff;
    --Cinza-carvão: #2d2d30;
    --Cinza-escuro: #3e3e42;
    --cinza-grafite: #252526;
    --preto-ardosia: #1e1e1e;
}

body {
    background-color: var(--Cinza-escuro);
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}