*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --preto-ardosia: #1e1e1e;
    --Cinza-carvão: #2d2d30;
    --cinza-grafite: #252526;
    --Cinza-escuro: #3e3e42;
    --Azul-escuro: #007acc;
    --branco: #fff;
}

body {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    background-color: var(--Cinza-escuro);
}


/*--Header--*/

.menu-bg {
    background-color: var(--preto-ardosia);
}

.menu {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu a {
    color: var(--branco);
}

.menu-logo a{
    font-size: 1.5em;
    font-weight: 700;
    margin: 0 10px;
}

.menu-nav ul{
    display: flex;
    flex-wrap: wrap;
}

.menu-nav a {
    font-size: 1em;
    display: block;
    padding: 10px;
}

.menu-nav a:hover {
    background-color: var(--cinza-grafite);
    border-radius: 8px;
    font-size: 1.03em;
}

/*--Title--*/

.title {
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 0;
}

.title__div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.title__profile {
    flex: 1 1 200px;
    border: 8px solid var(--Cinza-carvão);
}

.title__container{
    flex: 2 1 300px;
    padding-right: 60px;
    color: var(--branco);
}

.title__bio {
    font-size: 3.25em;
    margin-bottom: .6em;
}

.title__subtitle {
    font-size: 1.5em;
    font-weight: 400;
    margin-bottom: .6em;
}

.title__network{
    display: flex;
    align-items: flex-start;
    gap: 2em;
    font-size: 1.2em;
}

.title__network a{
    color: var(--branco);
}

.title__profile {
    width: calc(50% - (100px * 2));
    border-radius: 50%;
}

.title__network__item img {
    width: 20px;
}

/*--Sobre mim--*/

.about {
    background-color: var(--Cinza-carvão);
    color: var(--branco);
}

.about__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
}

.about__title {
    font-size: 2em;
    font-weight: 700;
    padding-bottom: .3em;
}

.about__paragraph {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.3em;
    margin-bottom: 1em;
    width: 47em;
}

/*--Skills--*/

.skills {
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 0;
    color: var(--branco);
}

.skills__line {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}

.skills__title {
    font-size: 2em;
    font-weight: 700;
    text-align: center;
}

.skills__box {
    width: 20em;
    margin: 1em 0;
    border-radius: 0.2em;
    background-color: var(--Cinza-carvão);
}

.skills__box {
    font-size: 1em;
    font-weight: 700;
    padding: 10px;
}

/*--Hobbies--*/

.hobbies {
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 0;
    color: var(--branco);
}

.hobbies__line {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}

.hobbies__title {
    font-size: 2em;
    font-weight: 700;
    text-align: center;
}

.hobbies__box {
    width: 20em;
    margin: 1em 0;
    border-radius: 0.2em;
    background-color: var(--Cinza-carvão);
    font-size: 1em;
    font-weight: 700;
    padding: 10px;
}

/*--Experiência--*/
.experience {
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 0;
    color: var(--branco);
}

.experience__section__title {
    font-size: 2em;
    font-weight: 700;
    text-align: center;
}

.experience__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.experiencie__box{
    width: 23em;
    margin: 1em 0;
    border-radius: 0.2em;
    background-color: var(--Cinza-carvão);
    font-size: 1em;
    font-weight: 700;
    padding: 1.5em;
}

.experience__img {
    max-width: 300px;
    max-height: 150px;
    width: auto;
    height: auto;
}

.experience__title {
    padding-top: 10px;
    font-size: 1.5em;
    font-weight: 700;
}

.experience__text {
    padding-bottom: 10px;
    font-size: 1em;
    font-weight: 400;
}

.experiencia__botao--repo {
    background-color: var(--branco);
    border: 1px solid var(--Azul-escuro);
    color: var(--Azul-escuro);
    border-radius: 3px;
    padding: 1em;
    font-size: 1em;
    cursor: pointer;
    transition: 0.3s ease;
}

.experiencia__botao--repo:hover{
    background-color: #007acc;
    border: 1px solid var(--branco);
    color: var(--branco);
}

.experiencia__botao--demo {
    background-color: var(--Azul-escuro);
    border: 1px solid var(--branco);
    color: var(--branco);
    border-radius: 3px;
    padding: 1em;
    font-size: 1em;
    cursor: pointer;
    transition: 0.3s ease;
}

.experiencia__botao--demo:hover{
    background-color: var(--branco);
    border: 1px solid var(--Azul-escuro);
    color: var(--Azul-escuro);
}

/*--Contato--*/

.formcontato{
    background-color: var(--Cinza-carvão);
}

.formcontato__contacto{
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 0;
    color: var(--branco);
}

.formcontato__img{
    width: 25rem;
}

.formcontato__title{
    font-size: 2em;
    font-weight: 700;
    padding-bottom: .5em;
}

.formcontato__subtext {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.3em;
}

.formcontato__contacto {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.formcontato__form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.formcontato__input {
    width: 55em;
    height: 5em;
    border-radius: .2em;
    border: none;
    margin-top: 1.5em;
    font-weight: 400;
    padding:.3em;
    outline: none;
    transition: 0.1s;
    background-color: #c2c2c2;
}

.formcontato__input:focus {
    border-bottom: 2.5px solid var(--Azul-escuro);
    
}

.formcontato__textarea {
    width: 55em;
    height: 20em;
    border-radius: .2em;
    border: none;
    margin-top: 1.5em;
    font-weight: 400;
    padding:.3em;
    outline: none;
    transition: 0.1s;
    background-color: #c2c2c2;
    resize: none;
}

.formcontato__textarea:focus {
    border-bottom: 2.5px solid var(--Azul-escuro);
    
}

.formcontato__botao {
    background-color: var(--Azul-escuro);
    border: none;
    color: var(--branco);
    border-radius: 3px;
    width: 25%;
    padding: 1em;
    margin-top: 1em;
    font-size: 1em;
    cursor: pointer;
    transition: 0.3s ease;
}

.formcontato__botao:hover{
    background-color: var(--branco);
    color: var(--Azul-escuro);
}

/*footeer*/

section.footer{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
    color: var(--branco);
    
}

.footer__rodape p{
    text-align: center;
}

.footer__rodape a{
    color: var(--branco);
}

@media (min-width: 768px) {

    /* Menu */
    
    /*title*/
    
    
    
    /*Skills*/
    
    /*Hobbies*/
    
    /*Experiências acadêmicas*/
    
    /*Expeirência profissional*/
    
    }
    
    /*Mobile*/
    @media (min-width: 425px) {
    
    /*Menu*/
    
    /*Titulo*/
    
    /*Sessão sobre*/
    
    /*Skills*/
    
    /*Hobbies*/
     
    /*Formação Acadêmica*/
    
    /*Experiência Profissional*/
    
     /*Contato*/
    
    /*Footer*/
    
    }